.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 600%;
	
	animation: cambio 30s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	13% {margin-left: 0;}
	
	16% {margin-left: -100%;}
	30% {margin-left: -100%;}
	
	33% {margin-left: -200%;}
	47% {margin-left: -200%;}
	
	50% {margin-left: -300%;}
	63% {margin-left: -300%;}

	66% {margin-left: -400%;}
	80% {margin-left: -400%;}

	83% {margin-left: -500%;}
	100% {margin-left: -500%;}
}